.wallet-page-1 img {
    object-fit: contain;
    width: 100%;
    height: 400px;
}

.wallet-page-1 .crypt-in-box-l h1 {
    font-size: 35px;
    font-weight: 900;
    line-height: 55px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 0;
}

.wallet-page-1 .crypt-in-box.cryexbx {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
}


.currency-page-6 .exchange-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 auto;
}

.currency-page-6 .card {
    background: #ffffff;
    border-radius: 12px;
    padding: 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
    height: max-content !important;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
}

.currency-page-three .card .back-box-c {
    border-radius: 12px;
    padding: 20px 12px;
    transition: 0.3s ease;
    height: 185px;
    padding: 20px 20px;
}

.currency-page-6 .card img {
    width: 50px;
    margin-bottom: 5px;
}

.currency-page-6 .card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.currency-page-6 .card p {
    font-size: 12px;
    color: #333;
    margin-bottom: 20px;
    line-height: 18px;
}

.currency-page-6 .card:hover {
    border-color: #f73c6e;
}

.currency-page-6 .card:hover .back-box-c {
    background: #f73c6e;
}

.currency-page-6 .card:hover img {
    filter: invert(1);
}

.currency-page-6 .card:hover h3,
.currency-page-6 .card:hover p,
.currency-page-6 .card:hover a {
    color: #fff;
}

.defi-new-three .dev-img img {
    width: 100%;
}


.table-defi {
    background: #fff;
    margin-top: 20px;
    border: 1px solid #eee;
}

.table-defi-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.table-defi-box.table-defi-top span {
    background: linear-gradient(90deg, #f44438, #6c4192);
    color: #fff;
    font-weight: 600;
}

.table-defi-box span,
.table-defi-box p {
    padding: 15px 25px;
    border-bottom: 1px solid #eee;
    margin: 0;
    border-left: 1px solid #eee;
    font-size: 15px;
}

.table-defi-box span {
    font-weight: 600;
}



.feature-sec-card .card-bg {
    border: 1px solid #8fccff;
    border-radius: 16px;
    /* background: linear-gradient(white, white) padding-box, 
linear-gradient(45deg, #f06, #4a90e2) border-box; */
    padding: 20px 10px;
    height: auto;
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 24%);
    min-height: 100%;
    background: #fff;
}

.feature-sec-card .card-bg .icon-box {
    position: relative;
    top: 0px;
    margin: -60px auto 0px;
    display: flex;
    justify-content: center;
}

.feature-sec-card .card-bg .icon-box .icon-bg {
    position: relative;
    height: 85px;
    width: 85px;
    object-fit: contain;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 19%);
}

.feature-sec-card .card-bg .icon-box .icon-bg::after {
    content: "";
    position: absolute;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    /* background: radial-gradient(closest-side, white 97%, transparent 100%), repeating-conic-gradient(#4a90e2 -145deg 20deg, transparent 0 32deg); */
    z-index: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 12%);
    border: 1px solid #8fccff;
    /* border-spacing: 10px; */
}

.feature-sec-card .card-bg .icon-box .card-icon {
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    height: 45px;
    width: auto;
    object-fit: contain;
}

.feature-sec-card .card-bg .inner-text .heading {
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding-top: 30px;
    margin: 0 0 7px 0;
}

.feature-sec-card .card-bg .inner-text .sub-heading {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 5px;
    text-align: center;
    width: 90%;
    margin: auto;
}





.ocp.ocp-view ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ocp.ocp-view ul li {
    width: 100%;
}

.hvr-buzz-out,
.hvr-wobble-vertical {
    display: inline-block;
    box-shadow: 0 0 1px transparent;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);

}

.ocp.ocp-view ul li h4,
.ocp.ocp-view ul li h3 {
    color: #000;
    font-weight: 600;
    font-size: 17px;
    padding-top: 15px;
}

.hvr-buzz-out:active,
.hvr-buzz-out:focus,
.hvr-buzz-out:hover {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes hvr-buzz-out {

    10%,
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }

    20%,
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }

    50%,
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }

    60%,
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}





.ido-plate fieldset.card {
    border: 2px dotted #6c4192;
    background: 0 0;
    border-radius: 14px;
    padding: 20px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    min-height: 300px;
    background: #fff;
    transition: 0.5s;
    min-height: auto;
    position: relative;
    padding-right: 0px;
}

.top-binance-new-banner-number-section {
    font-size: 23px;
    margin-bottom: 0;
    font-weight: 700;
    background: #8d12ab;
    border: 0;
    border-radius: 10px 25px 21px 22px;
    width: 60px;
    height: 55px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 1px 2px 5px #ddd;
    color: #fff;
    transition: 0.5s;
}

.ido-plate fieldset.card .card-title {
    margin-bottom: 16px;
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
    margin: 0 0 16px 0;
    padding: 0;
}

.crypt-exchange .card .card-text,
.crypt-exchange .card .card-text {
    font-size: 14px;
    width: 98%;
    margin: auto;
    line-height: 22px;
    margin: 0px;
}

.ido-plate fieldset.card:hover {
    border-radius: 50px 10px 50px 10px;
}

.crypt-exchange .card:hover .top-binance-new-banner-number-section {
    border-radius: 22px 21px 25px 10px;
}


.currency-page-9 .new-process .roadmap_box {
    min-height: 210px;
}



.it_serbox {
    transition: all .5s ease 0s;
    margin: 0 0 30px;
    padding: 25px 15px 15px;
    width: 100%;
    height: 145px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    background: #fff;
}

span.stackhead {
    color: #313131;
    font-weight: 500;
    line-height: 28px;
    margin-top: 15px;
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

.it_serbox:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 450px) {
    .wallet-page-1 .crypt-in-box.cryexbx {
        display: flex;
        flex-direction: column;
    }

    .wallet-page-1 .crypt-in-box-l h1 {
        font-size: 30px;
        font-weight: 800;
        line-height: 42px;
    }

    .wallet-page-1 .mob-img-none img {
        object-fit: contain;
        width: 100%;
        height: auto;
        margin-top: 40px;
    }

    .bot-new-two .mb-50 img {
        width: 100%;
    }

    .btn-mid {
        flex-direction: column !important;
        gap: 15px;
    }

    .currency-page-14 .tab-tech-one {
        margin-top: 30px;
    }

    .wallet-page-7 .features-card-w {
        min-height: 145px;
    }


    .currency-page-five .tab-tech-one {
        margin-top: 30px;
    }

    .btn-mid button {
        justify-content: center;
    }

    .wallet-card-6 .card .back-box-c {
        height: 240px;
    }

    .currency-page-6 .exchange-grid {
        display: flex !important;
        flex-direction: column;
        gap: 15px;
    }

    .table-defi-box {
        grid-template-columns: 150px 150px 150px 150px 150px;
    }

    .table-defi {
        overflow-y: auto;
        display: grid;
    }

    .table-defi-box span,
    .table-defi-box p {
        padding: 10px 20px;
        font-size: 13px;
    }

    p.w-80 {
        width: 100% !important;
    }

    .feature-sec-card .col-xl-4.col-lg-4.col-md-6.col-sm-12.mb-4 {
        margin-bottom: 3.5rem !important;
    }

    .feature-sec-card .col-xl-4.col-lg-4.col-md-6.col-sm-12.mb-4.mt-5 {
        margin-top: 0px !important;
    }

    .ocp.ocp-view ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
    }

    .ocp .currency_icon {
        padding: 10px 0;
    }

    .ocp .currency_icon img {
        width: auto !important;
        height: 35px;
    }

    .tab-tech-one{
        margin-top: 30px;
    }
}